/* Set the container to be horizontally scrollable */
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Merriweather+Sans:ital,wght@1,800&family=MuseoModerno:wght@300;400;500;600;700;800;900&display=swap");
.container {
	overflow: hidden; /* Hide the scrollbar */
	white-space: nowrap;
}

/* Set the images to be displayed inline and add transition for smooth animation */
img {
	display: inline-block;
	transition: transform 1s linear;
}

.scroll-image {
	height: 1vh;
	width: 100%;
	object-fit: cover;
	display: inline-block;
}

/* Set the animation for the scrolling */
@keyframes scroll {
	0% {
		transform: translateX(100%); /* Initial position is fully to the right */
	}
	100% {
		transform: translateX(-100%); /* End position is fully to the left */
	}
}

/* Apply the animation to the container */
.container {
	animation: scroll 10s linear infinite;
}

.default-nav {
	margin: 0 30px;
}

.title-overlay {
	position: absolute;
	top: 45%;
	left: 25%;
	transform: translate(-50%, -50%);
	/* background: rgba(0, 0, 0, 0.7); */
	color: #fff;
	padding: 10px;
	text-align: left;
	width: 240px; /* Adjust the width as needed */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	opacity: 0.7;
}

.title-overlay h2 {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 70px;
	margin: 0;
}
