/* FILEPATH: /G:/Hackathon/LU Hackathon/cse-carnival-chapter-2-2023/client/src/components/Footer/Footer.css */

/* Footer container */
.footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

/* Footer links */
.footer a {
	color: #fff;
	text-decoration: none;
	margin-right: 10px;
}

/* Footer links on hover */
.footer a:hover {
	text-decoration: underline;
}

/* Footer text */
.footer p {
	margin: 0;
}

/* Footer social icons */
.footer i {
	font-size: 20px;
	margin-right: 10px;
}

/* Footer social icons on hover */
.footer i:hover {
	color: #1da1f2;
}
