/* FILEPATH: /G:/Hackathon/LU Hackathon/cse-carnival-chapter-2-2023/client/src/Pages/Homepage/Homepage.css */

/* Set background color */
body {
	background-color: #f2f2f2;
}

/* Set font styles */
h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}

p {
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}

/* Set button styles */
button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 50px;
	cursor: pointer;
}
